*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family:'Open Sans',Helvetica,Arial,Lucida,sans-serif;
}
body{
	
	width: 1080px;
	margin: 0 auto;
	
	
}
.all{
	
	display: flex;
}
.header{
	width: 1080px;
	height: 180px;
	margin: 0px auto;
	padding-top: 30px ;	
	border-bottom: solid rgb(230, 219, 219) 2px;
}
.header img{
	width: 250px;
	
}
.header a{
	color: #19232d;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin-left: 26px;
	margin-top: 10px;
}
.header .imglupa{
	width: 20px;
	height: 20px;
	background-image: url(img/download.png);
	background-size: cover;
	background-position: center;
}
.content{
	
	margin-top: 50px;
	width: 70%;
}
.content h4{
	font-size: 32px;
	letter-spacing: 1px;
	line-height: 34px;
	padding-left: 10px;
	border-left: solid orangered 3px;
	margin-bottom: 10px;
}
.content img{
	margin:40 0px;
}
.content p{
	color: #19232d;
	font-size: 20px;
	text-align: left;
}
.content h2{
	margin-top: 30px;
	margin-bottom: 30px;
	color: orangered;
}
.ads{
	width: 29%;
	background-color: black;
	background-image: url(img/3-TRAFEGO-PAGO-GOOGLE-E-FACE-ADS.jpg);
	
}
